<div class="modal fade" id="SuppressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ translations[33] }}</h4>
            </div>
            <div class="modal-body" id="SuppressModalText">
                {{ translations[34] }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ translations[35] }}</button>
                <button type="button" class="btn btn-primary" id="btnSuppressModalConfirm">{{ translations[36] }}</button>
            </div>
        </div>
    </div>
</div>

</div> <!-- end of row -->

<div class="modal fade" id="modalErrorMessage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
                <h4 class="modal-title">{{ translations[45] }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ translations[46] }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ translations[47] }}</button>
            </div>
        </div>
    </div>
</div>
