{% extends '::base.html.twig' %}

{% block title %}
    - RESULT PAGE
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block overlay %}
    {% include "bsIDPArchiveBundle:Default:partial.overlay.waitAjax.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default mt10" id="panelStockResult">
                <div class="panel-heading">Rapprochement des stocks</div>
                <div class="panel-body">
                    <p>L'analyse est désormais terminée, vous pouvez récupérer les fichiers résultats (au format csv ou excel) ci-dessous:</p>
                    <h3 class="text-primary">Etape 1</h3>
                    <div class="col-md-12 col-md-offset-4">
                        <div class="col-sm-2">
                            <a href="{{ asset( files['basedir'] ~ files['step1-csv'] ) }}" download >
                                <div class="text-center"><i class="far fa-file-alt" id="reconciliationIDPFile"></i></div>
                                <div class="text-center" style="padding-top: 10px;">{{ files['step1-csv'] }}</div>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{ asset( files['basedir'] ~ files['step1-xlsx'] ) }}" download >
                                <div class="text-center"><i class="far fa-file-excel" id="reconciliationExcelFile"></i></div>
                                <div class="text-center" style="padding-top: 10px;">{{ files['step1-xlsx'] }}</div>
                            </a>
                        </div>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <h3 class="text-primary">Etape 2</h3>
                    <div class="col-md-12 col-md-offset-4">
                        <div class="col-sm-2">
                            <a href="{{ asset( files['basedir'] ~ files['step2-csv'] ) }}" download >
                                <div class="text-center"><i class="far fa-file-alt" id="reconciliationIDPFile"></i></div>
                                <div class="text-center" style="padding-top: 10px;">{{ files['step2-csv'] }}</div>
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{ asset( files['basedir'] ~ files['step2-xlsx'] ) }}" download >
                                <div class="text-center"><i class="far fa-file-excel" id="reconciliationExcelFile"></i></div>
                                <div class="text-center" style="padding-top: 10px;">{{ files['step2-xlsx'] }}</div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>

                    <p style="margin-top:20px;">Une fois les fichiers récupérés, vous pouvez réinitialiser le rapprochement à l'aide du bouton ci-dessous</p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-info btn-block" id="btnResetReconciliate">Réinitialiser le rapprochement</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var JSON_URLS = {
            bs_idp_archive_reconciliation_index: "{{ path('bs_idp_archive_reconciliation_index')}}",
            bs_idp_archive_reconciliation_reset: "{{ path('bs_idp_archive_reconciliation_reset')}}",
            bs_core_userspace_userfile_viewmainscreen: '{{ path("bs_core_userspace_userfile_viewmainscreen") }}',
            bs_idp_export_all_offline: '{{ path("bs_idp_export_all_offline") }}',
        };
        var IDP_CONST = {
            bs_idp_current_page: {{ currentMenu }}
        };
    </script>

    {% javascripts
        '@bsIDPArchiveBundle/Resources/public/js/IDPReconciliationResult.1.1.6.0.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
