<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% if headTranslations is defined %}{{ headTranslations[1] }} {% endif %}{% block title %}{% endblock %}</title>

        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    	<meta content="" name="description" />
	    <meta content="" name="author" />
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        {% block meta %}
        {% endblock %}

		{% block stylesheets %}
		    <link href="{{ asset('/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
		    <link href="{{ asset('/css/fontawesome-all.min.css') }}" type="text/css" rel="stylesheet" />
		    <link href="{{ asset('/css/color-scheme.css') }}" type="text/css" rel="stylesheet" />
		    <link href="{{ asset('/css/tutorialize.css') }}" type="text/css" rel="stylesheet" />
		    <link href="{{ asset('/css/main.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

<!-- BEGIN BODY -->
<body class="">

    {% block overlay %}{% endblock %}
    <header class="navbar navbar-default" role="navigation">
        <div class="container-fluid" id="top-menu-bar">
            <!-- Brand logo and toggle button -->
            <div class="navbar-header col-md-3">
                <a class="navbar-brand" href="{{ path('bs_idp_dashboard_homepage') }}"><img class="logo img-responsive" src="{{ asset('img/Logo_blanc.png') }}" alt="{% if headTranslations is defined %}{{ headTranslations[2] }}{% endif %}"/></a>
            </div> <!-- navbar-header -->

            <!-- nav links -->
            <div class="collapse navbar-collapse" id="idp-main-navbar">
                <div class="col-md-3">
                    <ul class="nav navbar-nav" id="idp-help">
                        <li><a id="menu-toggle" href="#left-menu" data-parent="#menu-toggle" data-toggle="collapse">
                                <i class="fal fa-align-justify"></i>
                            </a></li>
                        <li ><button type="button" class="btn btn-default navbar-btn" id="btnHelpMe"><i class="fal fa-lightbulb"></i>&nbsp;{% if headTranslation is defined %}{{ headTranslations[3] }}{% else %}Aide{% endif %}</button>&nbsp;</li>
                    </ul>
                </div>

                <div>
                    <ul class="nav navbar-nav navbar-right">
                        {% if userFilesResume['in_progress'] %}
                            <li id="userFileResume"><a href="{{ path('bs_core_userspace_userfile_viewmainscreen') }}"><i class="fad fa-file text-primary"></i>&nbsp;<i class="fal fa-compact-disc fa-spin text-primary"></i></a></li>
                        {% elseif userFilesResume['nb_files_unseen'] > 0 %}
                            <li id="userFileResume"><a href="{{ path('bs_core_userspace_userfile_viewmainscreen') }}" class="text-success"><i class="fas fa-file text-success"></i>&nbsp;{{ userFilesResume['nb_files_unseen'] }}</a></li>
                        {% else %}
                            <li id="userFileResume"></li>
                        {%  endif %}

                        <li class="dropdown" id="btnParamAccount">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fal fa-user-circle"></i>&nbsp;
                                <i class="fal fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('bs_core_user_change_mdp_screen') }}"><i class="fal fa-key"></i>&nbsp;&nbsp;Changer de mot de passe</a></li>
                                <li class="dropdown-divider">&nbsp;</li>
                                <li><a href="{{ path('bs_core_userspace_userfile_viewmainscreen') }}"><i class="fal fa-file"></i>&nbsp;&nbsp;Télécharger mes fichiers</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('bs_core_user_logout') }}" id="hrefLogout" alt="{% if headTranslation is defined %}{{ headTranslations[6] }}{% endif %}"><i class="fal fa-power-off fa-2x text-danger"></i></a></li>
                    </ul>
                </div>

            </div> <!-- idp-main-navbar -->

        </div> <!-- container-fluid -->
    </header>

	<!-- ENDOF HEADER SECTION -->

	<!-- MAIN SECTION (MENU, CONTENT) -->
	<div class="container-fluid">

		{% block content %}{% endblock %}

	</div>
	<!-- ENDOF MAIN SECTION -->

	<!-- FOOTER SECTION -->
    {%  include 'footer.html.twig' %}
	<!-- ENDOF FOOTER SECTION -->

		{% block javascripts %}
			<script src="{{ asset('/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('/js/jquery-ui.js') }}"></script>
			<script src="{{ asset('/js/bootstrap.js') }}"></script>
			<script src="{{ asset('/js/jquery.tutorialize.js') }}"></script>
            <script src="{{ asset('/js/bootbox.min.js') }}"></script>
            <script src="{{ asset('/js/IDPArchiveHeader.1.4.5.0.js') }}"></script>
		{% endblock %}
    </body>
</html>
