{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block overlay %}
    <div class="overlay" id="waitAjax"><br/><br/><br/>
        <div class="panel panel-default col-sm-6 col-sm-offset-3">
            <div class="panel-body text-default">
                <i class="fal fa-spinner fa-spin fa-3x fa-fw"></i>
                <span > Enregistrement des paramètres en cours !</span>
                <div class="text-info" id="textopti">&nbsp;</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% set menuaction = 5 %}
    {% set submenuaction = 1 %}
    {% include "bsIDPArchiveBundle:Archivist:partial.menumanagedb.html.twig" %}

    <ol class="breadcrumb">
        <li><a href="{{ path('bs_idp_archivist_managedb_input_services')}}">{{ partialmenuTranslations[13] }}</a></li>
        <li><a href="{{ path('bs_idp_backoffice_manage_globalsettings_passwords')}}">Paramètres</a></li>
        <li><a href="{{ path('bs_idp_backoffice_manage_globalsettings_passwords')}}">Mots de passe</a></li>
    </ol>

    <br/>

    <form>
    <div class="panel panel-default col-md-offset-4 col-md-4 nopaddinglr" id="panelPasswordSettings">
        <div class="panel-heading text-center">
            <h4 class="text-primary">
                <strong>Paramètres - Mots de passe</strong>
            </h4>
        </div>
        <div class="panel-body">
            <div class="row mb5 mbpb5" id="divPasswordMinLength">
                <div class="col-md-6"><label>Longueur minimale</label></div>
                <div class="btn-group col-md-6" >
                    <input name="password_min_length" id="passwordMinLength" class="form-control" />
                </div>
            </div>
            <div class="row"  id="divPasswordComplexity">
                <div class="col-md-6"><label>Complexité</label></div>
                <div class="btn-group col-md-6 ">
                    <label><input type="checkbox" id="pwdcpxt_lower" name="pwd_cpxt_lower"/> Minuscules</label><br/>
                    <label><input type="checkbox" id="pwdcpxt_upper" name="pwd_cpxt_upper" /> Majuscules</label><br/>
                    <label><input type="checkbox" id="pwdcpxt_number" name="pwd_cpxt_number" /> Nombres</label><br/>
                    <label><input type="checkbox" id="pwdcpxt_special" name="pwd_cpxt_special" /> Spéciaux</label>
                </div>
            </div>
            <!--
            <div class="row mb5">
                <div class="col-md-6"><label>Changement périodique (jour)</label></div>
                <div class="btn-group col-md-6">
                    <input name="password_min_change" id="passwordMinChange" class="form-control " value="0" />
                </div>
            </div>
            -->
        </div>
        <div class="panel-footer">
            <label class="btn btn-primary btn-block" id="btnApply">Appliquer les changements</label>
        </div>
    </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var JSON_URLS = {
            bs_idp_backoffice_update_globalsettings_passwords: "{{ path('bs_idp_backoffice_update_globalsettings_passwords')}}",
            bs_core_userspace_userfile_viewmainscreen: '{{ path("bs_core_userspace_userfile_viewmainscreen") }}',
            bs_idp_export_all_offline: '{{ path("bs_idp_export_all_offline") }}',
        };
        var IDP_CONST = {
            bs_translations: '{{translations|json_encode|escape('js')|raw}}',
            password_global_settings: '{{ passwordGlobalSettings|json_encode|escape('js')|raw }}'
        };
    </script>

    {% include "bsIDPArchiveBundle:Archivist:partial.javascriptconstant.html.twig" %}


    {% javascripts
        '@bsIDPArchiveBundle/Resources/public/js/IDPConstants.1.1.6.0.js'
        '@bsIDPArchiveBundle/Resources/public/js/systemPostGetDef.0.9.10.js'
        '@bsIDPArchiveBundle/Resources/public/js/IDPMenuManageDB.0.9.10.js'
        '@bsIDPBackofficeBundle/Resources/public/js/IDPBackofficeManagePasswords.1.4.5.0.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}